<header> 
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Accueil</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if token == null or token is not defined %}
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/login">Connexion</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/inscription">Inscription</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Déconnexion</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/myself">Mon Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#" id="openModalLink">Ajouter un post</a>
                        </li>
                    {% endif %}
                </ul>
                <form class="d-flex" action='/search' role="search">
                    <input class="form-control me-2" name="username" type="search" placeholder="Search User" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</header>

<div id="myModal" class="form-connexion mb-5">
    <h2 class="d-flex justify-content-center">Creation du Post</h2><br>
    <form method="POST" action="/createpost" enctype="multipart/form-data">
        <label for="description">Description du post:</label>
        <input class="form-control" name="description" type="text" placeholder="Enter description" wfd-id="id0"><br>
        <label for="file">Choisir une image:</label><br>
        <input type="file" name="file" accept=".png, .jpg, .jpeg"><br><br>
        <br>
        <span>
            <button class="btn btn-outline-success" type="submit">Créer</button>
            <button class="btn btn-outline-dark" type="button" onclick="closeModal()">Annuler</button>
        </span>
    </form>      
</div>
<div id="overlay"></div>



<div id="myModal2" class="form-connexion mb-5">
    <h2 class="d-flex justify-content-center">Modification du Post</h2><br>
    <form method="POST" action="#" enctype="multipart/form-data">
        <label for="description">Description du post:</label>
        <input class="form-control" name="description" type="text" placeholder="Enter description" wfd-id="id0"><br>
        <label for="file">Choisir une image:</label><br>
        <input type="file" name="file" accept=".png, .jpg, .jpeg"><br><br>
        <br>
        <span>
            <button class="btn btn-outline-primary" type="submit">Modifier</button>
            <button class="btn btn-outline-secondary" type="button" onclick="closeModal2()">Annuler</button>
        </span>
    </form>      
</div>
<div id="overlay2"></div>